*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.clib
*.mllib
*.mldylib
.tags
*.swp
setup.ml
setup.data
setup.log
myocamlbuild.ml
configure
Makefile
_build
*.native
*.byte
*.pyc
.ycm_extra_conf.py
